@page "/"
@page "/products"
@rendermode InteractiveServer
@using BlazorProductsCRUD.Models
@using BlazorProductsCRUD.Services

@inject ProductService ProductService
@inject IJSRuntime JS

<h3>محصولات</h3>

<a href="/products/create">
    افزودن محصول
</a>

<hr />

@if (products == null)
{
    <p>در حال دریافت اطلاعات...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>شناسه</th>
                <th>نام</th>
                <th>توضیحات</th>
                <th>قیمت</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                int row = 1;
                foreach (var product in products)
                {
                    <tr>
                        <td>@row</td>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@string.Format("{0:N0}", product.Price)</td>
                        <td>
                            <a class="btn btn-warning btn-sm"
                               href="/products/edit/@product.Id">
                                ویرایش
                            </a>

                            <button class="btn btn-danger btn-sm ms-2"
                                    @onclick="() => Delete(product.Id)">
                                حذف
                            </button>
                        </td>
                    </tr>

                    row++;
                }
            }
        </tbody>
    </table>
}

@code {

    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllAsync();
    }

    private async Task Delete(int id)
    {
        if (!await JS.InvokeAsync<bool>("confirm", $"آیا از حذف محصول {id} اطمینان دارید؟"))
            return;

        await ProductService.DeleteAsync(id);
        products = await ProductService.GetAllAsync();
        StateHasChanged();
    }
}